/*

button{
    display: inline-block;
}

body * {
    box-sizing: border-box;
}

.game-area { display: flex; flex-wrap: wrap; border: 1px solid black;}
.human, .cpu {
    padding: 0.5rem;
    flex: 0 0 50%;
    text-align: center;
}
*/

.container {
    border: 1px solid black;
    width: 85%;
    margin: 0 auto;
    text-align: center;

}

.wins {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
}

.buttonRow {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.game-area  {
    display: flex;
    border: 1px solid black;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;   
}

.card-area {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#human-game, #cpu-game {
    background-color: #ccffcc;
 
}


#hmnSideDeck, #cpuSideDeck {
    width: 200px;
    margin: 5px;
    background-color: purple;

}


.game-area div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 300px;
    display: block;

}
.card-area div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 100px;
    font-weight: 700;
}


.game-area div img {
    width: 40;
    padding: 5px;
}
.card-area div img {
    width: 60px;
    padding: 5px;
    display: block;
  
}

.buttonRow {
    border: 1px solid black;
    padding: 10px;
}

.buttonRow div {
    border: 1px solid black;
    padding: 10px;
}
